/* Dit is het stylesheet voor de GitHub Classroom Opdracht */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-flow: column wrap;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#links {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
}

a {
    padding: 2px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #999;
}

th, td {
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    padding: 8px;
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}
